<div class="container-fluid">
    <form [formGroup]="customerForm" autocomplete="off" novalidate (ngSubmit)="createCustomer(customerForm.value)">
      <div class="card card-body bg-light mb-2 mt-2">
   
        <div class="row mb-3">
          <label for="firstName" class="col-form-label col-md-2">First Name: </label>
          <div class="col-md-5">
            <input type="text" formControlName="firstName" id="firstName" class="form-control" />
          </div>
          <div class="col-md-5">
            <em *ngIf="validateControl('firstName') 
            && hasError('firstName', 'required')">First Name is required</em>
            <em *ngIf="validateControl('firstName') 
            && hasError('firstName', 'maxlength')">Maximum allowed length is 60 characters.</em>
          </div>
        </div>
   
        <div class="row mb-3">
            <label for="lastName" class="col-form-label col-md-2">Last Name: </label>
            <div class="col-md-5">
              <input type="text" formControlName="lastName" id="lastName" class="form-control" />
            </div>
            <div class="col-md-5">
              <em *ngIf="validateControl('lastName') 
              && hasError('lastName', 'required')">Last Name is required</em>
              <em *ngIf="validateControl('lastName') 
              && hasError('lastName', 'maxlength')">Maximum allowed length is 60 characters.</em>
            </div>
          </div>
   
        <div class="mb-3 row">
          <label for="email" class="col-form-label col-md-2">Email: </label>
          <div class="col-md-5">
            <input type="text" formControlName="email" id="email" class="form-control" [email]="true" />
          </div>
          <div class="col-md-5">
            <em *ngIf="validateControl('email') 
            && hasError('email', 'required')">Email is required</em>
           
          </div>
        </div>
   
        <br><br>
   
        <div class="mb-3 row">
            <div class="offset-5 col-md-1">
                <button type="submit" class="btn btn-info" [disabled]="!customerForm.valid">Save</button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-danger" (click)="redirectToCustomerList()">Cancel</button>
            </div>
        </div>
        
      </div>
    </form>
  </div>